---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import CourseList, { type Course } from "../../components/CourseList.astro";
import { loadQuery } from "../../sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

const categories = ["All Courses", "Web Development", "Data Science", "UI/UX Design", "Digital Marketing"];

const result = await loadQuery<SanityDocument[]>({
  query: `*[_type == "course"]{
    id,
    title,
    slug,
    provider,
    image,
    rating,
    students,
    duration,
    level,
    tag
  }`,
});

const courses = result.data || [];
---

<Layout
  title="Courses"
  description="Explore our curated collection of top-rated courses from industry experts."
>
  <main class="container mx-auto px-4 py-20">
    <Banner 
      title="Learn Today, Earn Tomorrow" 
      description="We recommend only the best, most practical courses — curated to help you grow faster and start earning sooner."
    />
    
    {courses && courses.length > 0 ? (
      <CourseList courses={courses as unknown as Course[] } categories={categories} />
    ) : (
      <div>
        <p>No courses found. Check the console for debugging information.</p>
      </div>
    )}
  </main>
</Layout>